
<% layout('layout') -%>


      <h1>Bejelentkezés</h1>
      <p>Az oldalra jelenleg csak Facebook autentikációval lehet beregisztrálni.</p>
      <p align="center">
      <a href="/auth/facebook/"><img src="https://s3.amazonaws.com/static.stackmob.com/resources/images/facebook-landing/scrumptious/login_1.png"></a>
      </p>
