
<% layout('layout') -%>


      <h1>Mi ez?</h1>
      <p>Ez az oldal azért született, hogy motíváljon a reggeli korán kelésre. :) Alapvetően nem célja az egész internetet behálózó szolgáltatás, csak ha már magamnak megcsináltam, gondoltam, másokat is érdekelhet. :)</p>

      <h1>Miért?</h1>
      <p>Nos, az eredeti elképzelés az volt, hogy egy Láthatatlan Egyetemes 30 napos kihívást csinálok végig. A 30 napos kihívások célja, hogy kicsit kimozdítsanak a komfortzónádból, és olyan szokások elsajátítása, amelyekkel jobb/könnyebbé/boldogabbá teheted az életedet. <br />
      Akkoriban nekem az volt az egyik legnagyobb bajom, hogy hajnali madár vagyok - reggel nagyon korán vagyok a leghatékonyabb -, viszont ezt az időszakot rendszerint átalszom, és ez így nem az igazi. <br />
      Na, hát így jött az ötlet, hogy az egyik kihívás lehetne ez. :) And so it happened. 
    
